node_modules
app/main-process/ink/inklecate_mac
*.sublime-workspace
Inky-darwin-x64
Inky-darwin-arm64
Inky-darwin-universal
Inky-win32-x64
Inky-win32-ia32
Inky-linux-x64
Inky_windows.zip
splotch-darwin-x64
splotch-darwin-arm64
splotch-darwin-universal
splotch-win32-x64
splotch-win32-ia32
splotch-linux-x64
ReleaseUpload
app/renderer/documentation/
.idea/
*.AppImage
AppImage
.DS_Store
Splotch app icon concepts.zip
exports/
resources/Icon.icns
resources/Icon.iconset/
